@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
/*  base font is 18px  */
  font-size: 1.125rem;
}


body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.58;
  color: #333;
  text-align: left;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  background-color: #fff;
  min-height: 100vh;
}

p {
  margin:0;
  margin-bottom: 1.25rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  margin: 2.75rem 0 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1,
.h1 {
  font-size: 2.369rem;
}

h2,
.h2 {
  font-size: 1.777rem;
}

h3,
.h3 {
  font-size: 1.333rem;
}

h4,
.h4 {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}

.container {
  margin: 50px auto;
  padding: 0 0.8rem;
  max-width: 800px;
}
