html {
  font-size: 1.125rem; /*  base font: 18px  */
}

@media (min-width: 70em) {
  html {
    font-size: 1.25rem; /*  increasing to 20px on bigger screens */
  }
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.58;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  background-color: #fff;
  color: #333;
}

p + p {
  margin: 1.25rem 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  margin: 2.75rem 0 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.15;
}

h1,
.h1 {
  font-size: 2.369rem;
}

h2,
.h2 {
  font-size: 1.777rem;
}

h3,
.h3 {
  font-size: 1.333rem;
}

h4,
.h4 {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}
